.header{
    display: flex;
  }
  
  .header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 40px 0;
    max-width: 300px;
  }
  
  .header button#btnNavControl{
    display: none;
  }

  main p{
    margin: 40px 0;
  }

  footer{
    height: 100px;
    background-color: #40454f;
    align-items: center;
    display: flex;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }


  .modal-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.4;
    top: 0;
    left: 0;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
  }
  .modal .modal-wrapper{
      position: relative;
      margin: 20px auto;
      max-width: 200px;
  }
  .modal .modal-wrapper .btnCloseModal{
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    background: none;
    outline: none;
    display: block;
  }
  .modal .modal-content{
    background-color: antiquewhite;
    position: relative;
    display: flex;
    color:#000;
    padding: 20px;
  }

  /* MOBILE */

  @media (max-width: 675px) {
    
    .header ul{
      display: flex;
      flex-direction: column;
      position: absolute;
      margin:40px 0;
      right: 0;
    }
  
    .header ul.open{display: block;}
    .header ul.close{display: none;}

    .header ul li{background-color: #40454f;}
    .header li:first-child{
      background-color: #5d616a;
    }
    .header li {
      padding: 20px;
      width: 100%;
    }

    .header button#btnNavControl{
      display: block;
      width: 100px;
      height: 40px;
      right: 0;
      position: absolute;
    }
    .header button#btnNavControl.open::before{
      content: 'a';
    }
    .header button#btnNavControl.close::before{
      content: 'b';
    }

  }