.header{
    display: flex;
    background-color: #40454f;
    position: fixed;
    width: 100%;
    padding: 20px;
    position: relative;
  }
  
  .header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 40px 0;
    max-width: 300px;
  }
  
  .header button#btnNavControl{
    display: none;
  }
  
  main {
    margin-bottom: 20px;
    padding: 20px;
  }
  main p{
    margin: 40px 0;
  }

  main .isiDrawer p{
    margin: 4px 0;
  }

  footer{
    height: 40px;
    background-color: #40454f;
    align-items: center;
    display: flex;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .modal-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .modal {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 3;
    display: none;
  }
  .modal .modal-wrapper{
      position: relative;
      
      max-width: 200px;
  }
  .modal .modal-wrapper .btnCloseModal{
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    background: none;
    outline: none;
    display: block;
  }
  .modal .modal-content{
    background-color: antiquewhite;
    position: relative;
    display: flex;
    color:#000;
    padding: 20px;
  }

  .isiDrawerWrapper{
    position: fixed;
    z-index: 3;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .isiDrawerWrapper.hide{
    display: none;
  }
  .isiDrawer{
    display: flex;
    flex-direction: column;
    background-color: #5d616a;
    margin: auto;
    max-width: 620px;
    height: 130px;
    position: relative;
    padding: 10px 10px 0;
  }
  
  .btnCloseISI{
    position: absolute;
    right: 10px;
    top: 14px;
  }

  .tabsWrapper{
    position: relative;
    width: 100%;
    
  }
  .tabs-nav{
    
  }
  .tabs-nav ul{
    border: 1px solid green;
    display: flex;
    align-content: space-between;
    max-width: 300px;
  }
  .tabs-nav ul li{
    flex-direction: column;
    width: 100%;
  }

  .tab-content{
    display: none;
  }

  /* MOBILE */

  @media (max-width: 675px) {
    
    .header ul{
      display: flex;
      flex-direction: column;
      position: absolute;
      margin: 58px 0;
      right: 0;
      max-width: unset;
    }
  
    .header ul.open{display: block;}
    .header ul.close{display: none;}

    .header ul li{background-color: #40454f;}
    .header li:first-child{
      background-color: #5d616a;
    }
    .header li {
      padding: 20px;
      width: 100%;
    }

    .header button#btnNavControl{
      display: block;
      width: 100px;
      height: 40px;
      right: 0;
      position: absolute;
    }
    .header button#btnNavControl.open::before{
      content: 'a';
    }
    .header button#btnNavControl.close::before{
      content: 'b';
    }
    .isiDrawer{
      max-width: 340px;
    }

  }